.contact__container {
  justify-content: center;
  padding-bottom: 3rem;
}


.contact__info {
  display: grid;
  row-gap: 1rem;
  grid-template-columns: 300px;
}

.contact__card {
  background-color: var(--container-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 1rem;
  border-radius: 0.75rem;
  text-align: center;
}

.contact__card-icon {
  font-size: 2rem;
  color: var(--title-color);
  margin-bottom: var(--mb-0-25);
  transition: transform 0.3s ease, color 0.3s ease;
  color: var(--title-color-dark);
  &:hover {
    transform: scale(1.3);
  }
}
.contact__card-title,
.contact__card-data {
  font-size: var(--smaller-font-size);
}

.contact__card-title {
  font-weight: var(--font-medium);
}

.contact__card-data {
  display: block;
}

.contact__form {
  width: 360px;
}

.contact__form-div {
  position: relative;
  margin-bottom: var(--mb-2);
  height: 3rem;
}

.contact__form-input {
  width: 100%;
  height: 100%;
  border: 2px solid rgba(0, 0, 0, 0.3);
  background: none;
  color: var(--text-color);
  outline: none;
  border-radius: 1.5rem;
  padding: 1.5rem;
  font-size: var(--smaller-font-size);
}

.contact__form-area {
  height: 6.5rem;
}

.contact__form-area textarea {
  resize: none;
}
.contact__card-data {
  color: var(--text-color);
}

/*=============== BREAKPOINTS ===============*/
/* For large devices */
@media screen and (max-width: 992px) {
  .contact__container {
    column-gap: 3rem;
  }
}

/* For medium devices */
@media screen and (max-width: 768px) {
  .contact__container {
    grid-template-columns: 1fr;
    row-gap: 3rem;
  }

  .contact__info {
    justify-content: center;
  }
  .contact__form {
    margin: 0 auto;
  }
}

@media screen and (max-width: 576px) {
  .contact__info {
    grid-template-columns: 1fr;
  }
  .contact__form {
    width: 100%;
  }
}
