.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
  background-color: var(--container-color);
}

.nav {
  height: calc(var(--header-height) + 1rem);
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 1rem;
}


.nav__toggle {
  color: var(--title-color);
  font-weight: var(--font-medium);
}

.nav__list {
  display: flex;
  column-gap: 2rem;
  position: relative;
}


.nav__link {
  color: var(--title-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: var(--small-font-size);
  font-weight: var(--font-medium);
  transition: 0.3s;
}

.nav__icon,
.nav__close,
.nav__toggle {
  display: none;
}

/* Active link */
.active-link,
.nav-link:hover {
  color: var(--title-color-dark);
}

/* change bacground header */
.scroll-header{
  box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.15);
}

@media screen and (max-width: 768px) {
  .header {
    top: initial;
    bottom: 0;
  }
  .nav {
    height: var(--header-height);
  }

  .nav__menu {
    position: fixed;
    bottom: -100%;
    left: 0;
    width: 100%;
    background-color: var(--body-color);
    padding: 2rem 1.5rem 3rem;
    box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.15);
    border-radius: 1.5rem 1.5rem 0 0;
    transition: 0.3s;
  }
  /**show menu **/
  .show-menu {
    bottom: 0;
  }

  .nav__list {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 2rem;
  }

  .nav__icon {
    display: inline-block;
    font-size: 1.2rem;
    transition: transform 0.6s ease, color 0.6s ease, opacity 0.1s ease-out;
    &:hover {
      color: var(--title-color-dark);
      transform: scale(1.3);
    }
  }

  .nav__tooltip {
    position: absolute;
    padding: 0.5rem;
    top: -2%;
    border-radius: 0.3rem;
    white-space: nowrap;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.6s ease-out, visibility 0.1s ease;
    font-size: 0.8rem;
    z-index: var(--z-fixed);
  }
  .nav__link:hover .nav__tooltip {
    opacity: 1;
    visibility: visible;
  }
  .nav__link:hover .nav__icon {
    opacity: 0;
  }

  .nav__close {
    position: absolute;
    left: 1.3rem;
    bottom: 0.5rem;
    font-size: 1.5rem;
    cursor: pointer;
    color: var(--title-color);

    &:hover {
      color: var(--title-color-dark);
    }
  }
  .nav__toggle {
    font-size: 1.1rem;
    cursor: pointer;
  }

  .nav__icon,
  .nav__close,
  .nav__toggle {
    display: block;
  }
}

@media screen and (max-width: 350px) {
  .nav__menu {
    padding: 2rem 0.25rem 4rem;
  }
  .nav__list {
    column-gap: 0;
  }
}
